.twitter path{
    color:grey;
    transition: 0.5s;
}
.twitter:hover path{
    color:#1DA1F2;
}

.linkedin path{
    color:grey;
    transition: 0.5s;
}
.linkedin:hover path{
    color:#0072b1;
}

.github path{
    color:grey;
    transition: 0.5s;
}
.github:hover path{
    color:#6e5494;
}