.twitter path{
    fill:grey;
}
.twitter:hover path{
    fill:#1DA1F2;
}

.linkedin path{
    fill:grey;
}
.linkedin:hover path{
    fill:#0072b1;
}

.github path{
    fill:grey;
}
.github:hover path{
    fill:#6e5494;
}

.title{
   animation: Color 15s linear infinite;
  -webkit-animation: Color 15s ease-in-out infinite;
}

@keyframes Color{
  0%{
    color:white;
  }
  25%{
    color:#4FC1E9;
  }
  50%{
    color:white;
  }
  75%{
    color: #4FC1E9;
  }
  1000%{
    color:whitz;
  }
}

@-webkit-keyframes Color{
  0%{
    color:white;
  }
  25%{
    color:#4FC1E9;
  }
  50%{
    color:white;
  }
  75%{
    color: #4FC1E9;
  }
  1000%{
    color:whitz;
  }
}